* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1C699;
}

#main-heading {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 30px;
}

#grid-squares-container {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  box-shadow: 0 0 10px 5px black;
  background-color: #D9D9D9;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
  flex: 1 1 37.5px;
}

.hovered-square {
  background-color: grey;
}